@(message: String, actorForm: Form[views.form.ReceivedForm])

@import play.i18n._
@import models.Prefecture

@main("Actor Create", "俳優登録") {
    @if(flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
      </div>
    </div>
    }
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form" action="/actor/save" method="post">
          @defining(actorForm("id")) { idField =>
            <input type="hidden" id="@idField.id" name="@idField.name" value="@idField.value">
          }
          <!-- name -->
          <div class="form-group">
            @defining(actorForm("name")) { nameField =>
            <label for="nameField.id" class="col-sm-2 control-label">@Messages.get("actor.name")</label>
            <div class="col-sm-10">
              <input type="text" id="@nameField.id" class="form-control" name="@nameField.name" value="@nameField.value">
              @if(nameField.hasErrors) {
              <span class="help-block">@nameField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <!-- height -->
          <div class="form-group">
            @defining(actorForm("height")) { heightField =>
            <label for="heightField.id" class="col-sm-2 control-label">@Messages.get("actor.height")</label>
            <div class="col-sm-10">
              <input type="text" id="@heightField.id" class="form-control" name="@heightField.name" value="@heightField.value">
              @if(heightField.hasErrors) {
              <span class="help-block">@heightField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <!-- blood -->
          <div class="form-group">
            @defining(actorForm("blood")) { bloodField =>
            <label for="bloodField.id" class="col-sm-2 control-label">@Messages.get("actor.blood")</label>
            <div class="col-sm-10">
              <input type="text" id="@bloodField.id" class="form-control" name="@bloodField.name" value="@bloodField.value">
              @if(bloodField.hasErrors) {
              <span class="help-block">@bloodField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <!-- birthday -->
          <div class="form-group">
            @defining(actorForm("birthday")) { birthdayField =>
            <label for="birthdayField.id" class="col-sm-2 control-label">@Messages.get("actor.birthday")</label>
            <div class="col-sm-10">
              <input type="text" id="@birthdayField.id" class="form-control" name="@birthdayField.name" value="@birthdayField.value">
              @if(birthdayField.hasErrors) {
              <span class="help-block">@birthdayField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <!-- seibetsu -->
          <div class="form-group">
            @defining(actorForm("seibetsu")) { seibetsuField =>
            <label for="seibetsuField.id" class="col-sm-2 control-label">@Messages.get("actor.seibetsu")</label>
            <div class="col-sm-10">
              <input type="text" id="@seibetsuField.id" class="form-control" name="@seibetsuField.name" value="@seibetsuField.value">
              @if(seibetsuField.hasErrors) {
              <span class="help-block">@seibetsuField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <!-- birthplaceId -->
          <div class="form-group">
            @defining(actorForm("birthplaceId")) { birthplaceIdField =>
            <label for="birthplaceIdField.id" class="col-sm-2 control-label">@Messages.get("actor.birthplace")</label>
            <div class="col-sm-10">
              <select id="@birthplaceIdField.id" class="form-control" name="@birthplaceIdField.name">
                <option value="">---</option>
                @for(pref <- Prefecture.list()) {
                <option value="@pref.id">@pref.name</option>
                }
              </select>
              @if(birthplaceIdField.hasErrors) {
              <span class="help-block">@birthplaceIdField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" value="save" />
          </div>
        </form>
      </div>
    </div>
}