@(message: String, customer: models.Customer)

@import play.i18n._
@import utils.DateParser

@main("Customer Detail", "顧客詳細") {
    <div class="row">
      <div class="col-md-12">
        @if(customer != null) {
        <table class="table">
          <tr>
            <th class="col-md-3 active">@Messages.get("customer.customerenumber")</th>
            <td class="col-md-9">0@customer.customerenumber</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("customer.companyname")</th>
            <td class="col-md-9">@customer.companyname</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("customer.parsonname")</th>
            <td class="col-md-9">@customer.parsonname</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("customer.zipcode")</th>
            <td class="col-md-9">@customer.zipcode</td>
          </tr>
			<tr>
            <th class="col-md-3 active">@Messages.get("customer.address")</th>
            <td class="col-md-9">@customer.address</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("customer.phonenumber")</th>
            <td class="col-md-9">@customer.phonenumber</td>
          </tr>
        </table>
        } else {
        <div class="alert alert-warning">
          <span>データはありません。</span>
        </div>
        }
      </div>
    </div>
}