@(message: String, details: models.Details)

@import play.i18n._
@import utils.DateParser

@main("Received Detail", "受注詳細") {
    <div class="row">
      <div class="col-md-12">
        @if(details != null) {
        <table class="table">
          <tr>
            <th class="col-md-3 active">@Messages.get("details.ordernumber")</th>
            <td class="col-md-9">0@details.ordernumber</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("details.product")</th>
            <td class="col-md-9">@details.product</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("details.unit")</th>
            <td class="col-md-9">@details.unit</td>
          </tr>
          <tr>
            <th class="col-md-3 active">@Messages.get("details.quantity")</th>
            <td class="col-md-9">@details.quantity</td>
          </tr>

          </tr>
        </table>
        } else {
        <div class="alert alert-warning">
          <span>データはありません。</span>
        </div>
        }
      </div>
    </div>
}