@(message: String, result: List[models.Received])

@import java.util.Date
@import play.i18n._
@import utils.DateParser

@*****************************
* Declaring reusable blocks  *
*****************************@
@d(date: Date) = {
  @if(date != null) {
    @date.format("yyyy-MM-dd")
  } else {
    ---
  }
}

@main("O_RECEIVED_MASTER", "受注一覧") {
    @if(flash.containsKey("success") || flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        @if(flash.containsKey("success")) {
        <div id="success-message" class="text-success">
          @flash.get("success")
        </div>
        }
        @if(flash.containsKey("error")) {
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
        }
      </div>
    </div>
    }
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>@Messages.get("received.ordernumber")</th>
              <th>@Messages.get("received.customernumber")</th>
              <th>@Messages.get("received.employeenumber")</th>
              <th>@Messages.get("received.ordersdate")</th>
              <th>@Messages.get("received.delivery")</th>
              <th>@Messages.get("received.fare")</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            @for(received <- result) {
            <tr>
              <td>
                <a class="btn btn-default" href="/received/detail/@received.ordernumber">0@received.ordernumber</a>
              </td>
              <td>
              <a class="btn btn-default" href="/received/custom/@received.customernumber">@received.customernumber</a>
              </td>
              <td>@received.employeenumber</td>
              <td>@received.ordersdate.format("yyyy-MM-dd")</td>
              <td>@received.delivery.format("yyyy-MM-dd")</td>
              <td>@received.fare</td>

              <td>
                <form action="/actor/delete/@received.ordernumber" method="post">
                  <input class="btn btn-warning" type="submit" value="delete">
                </form>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
}
