@(message: String, result: List[models.Customer])(str: String)

@import java.util.Date
@import play.i18n._
@import utils.DateParser

@*****************************
* Declaring reusable blocks  *
*****************************@
@d(date: Date) = {
  @if(date != null) {
    @date.format("yyyy-MM-dd")
  } else {
    ---
  }
}

@main("CUSTOMER_MASTER", "顧客一覧") {
    @if(flash.containsKey("success") || flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        @if(flash.containsKey("success")) {
        <div id="success-message" class="text-success">
          @flash.get("success")
        </div>
        }
        @if(flash.containsKey("error")) {
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
        }
      </div>
    </div>
    }
    <div class="row">
      <div class="col-md-12">
        <table id = "foo-table" class="table table-striped">
          <thead>
            <tr>
              <th>@Messages.get("customer.customerenumber")</th>
              <th>@Messages.get("customer.companyname")</th>
              <th>@Messages.get("customer.parsonname")</th>
              <th>@Messages.get("customer.zipcode")</th>
              <th>@Messages.get("customer.address")</th>
              <th>@Messages.get("customer.phonenumber")</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            @for(customer <- result) {
            <tr>
              <td>
                <a class="btn btn-default" href="/received/lcustom/@customer.customerenumber">@customer.customerenumber</a>
              </td>
              <td>@Messages.get(str)</td>
              <td>@customer.parsonname</td>
              <td>@customer.zipcode</td>
              <td>@customer.address</td>
              <td>@customer.phonenumber</td>

              <td>
                <form action="/actor/delete/@customer.customerenumber" method="post">
                  <input class="btn btn-warning" type="submit" value="delete">
                </form>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
}
